@model UserProfile

@{
    ViewData["Title"] = "J. Doe profile page";
}

<h1>Profile Page</h1>

<div>
    <hr />
    <img src=@Model.ImageUrl />
    <dl class="row">
        <dt class = "col-1">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-2">
            @Model.FullName
        </dd>
        <div>
            <dd>
                <a href="tel: @Model.PhoneNumber"><img src="https://www.svgrepo.com/show/491468/phone.svg" class="icon" /></a>
            </dd>
            <dd>
                <a href="mailto: @Model.Email"><img src="https://www.svgrepo.com/show/491226/email.svg" class="icon"/></a>
            </dd>
            <dd>
                <a href="@Model.GitHubUrl"><img src="https://www.svgrepo.com/show/488590/github.svg" class="icon" /></a>
            </dd>
        </div>
        <dt>Skilled Languages</dt>
        <dd>
            <ul>
                @foreach(string languageSkill in Model.SkilledLanguages)
                {
                    <li>@languageSkill</li>
                }
            </ul>
        </dd>
    </dl>
</div>
